{% import_yaml 'x509/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'RedHat': {
      'pkgs': [ 'openssl', 'ca-certificates' ],
    },
    'Darwin': {
      'locations': {
        'trust_anchors_dir': '/private/etc/salt/pki/x509/local/anchors',
        'certs_dir': '/private/etc/salt/pki/x509/local/certs',
        'keys_dir': '/private/etc/salt/pki/x509/local/keys',
        'ca_certs_dir': '/private/etc/salt/pki/x509/ca/certs',
        'ca_keys_dir': '/private/etc/salt/pki/x509/ca/keys',
        'issued_crls_dir': '/private/etc/salt/pki/x509/issued/crls',
        'issued_certs_dir': '/private/etc/salt/pki/x509/issued/certs',
        'issued_keys_dir': '/private/etc/salt/pki/x509/issued/keys',
      }
    }
    'Windows': {
      'locations': {
        'trust_anchors_dir': 'c:\salt\pki\anchors',
        'certs_dir': 'c:\salt\pki\local\certs',
        'keys_dir': 'c:\salt\pki\local\keys',
      }
    }
  }, grain='os_family', default='RedHat', merge=salt['pillar.get']('x509:lookup')) %}

{% do default_settings.x509.update(os_family_map) %}

{% set x509_settings = salt['pillar.get'](
    'x509',
    default=default_settings.x509,
    merge=True
  )
%}

{# TODO fix so x509_ca_cert_defaults uses defaults from x509_settings.defaults.base_certificate but overwrites with x509_settings.defaults.ca_certificate #}
{% set x509_issued_cert_defaults = x509_settings.defaults.base_certificate %}
{% set x509_ca_cert_defaults = x509_settings.defaults.ca_certificate %}
